
  body {background-image: url(bank.jpg);}
h1{
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {font-size: 15px ; font-family: 'Ibarra Real Nova', serif;}


label{
    color: rgb(172, 172, 172);
    color-scheme: bold;
    background: rgb(255,251,251);
background: linear-gradient(151deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 35%, rgb(245, 58, 61) 100%);
text-emphasis: bold;
}

